:root {
  --brandcolor: #212121;
  --first-title-color: #ffffff;
  --second-titlt-color: #212121;
  --background-nav-color: #ffffff;
  --background-first-color: #2f303a;
  --background-heroy-color: #e5e5e5;
  --background-features-doing-color: #e5e5e5;
  --background-team-color: #f5f4fa;
  --background-basement-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
/* ------------NAV------------ */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brandcolor);
}
.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.bar-link .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brandcolor);
}

.bar-link .link:hover,
.bar-link .link:focus {
  color: #2196f3;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-link:hover,
.contacts-link :focus {
  color: #2196f3;
}
/* ------------NAV------------ */

/* ------------HEROY---------- */
.heroy {
  background-color: var(--background-first-color);
}

.title-heroy {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
}

.button-heroy {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  background: #2196f3;
}

/* ------------HEROY---------- */

/* -----------FEATURES---------- */
.features-title {
}
.features-about {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* -----------FEATURES---------- */

/* -----------DOING------------- */
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}

/* -----------DOING------------- */

/* -----------TEAM-------------- */
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--brandcolor);
}
.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
/* -----------TEAM-------------- */

/* -----------FOOTER------------ */
.basement {
  background: #2f303a;
}
.basement-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--first-title-color)
}
.basement-logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.basement-location {
  font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--first-title-color)
}
.basement-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.basement-contacts-link:hover,
.basement-contacts-link:focus {
  color: #2196f3;
}
}
.basement-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.basement-contacts-link :hover,
.basement-contacts-link :focus {
  color: #2196f3;
}

*/
/* -----------PORTFOLIO------------ */
.filter-button-link {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--brandcolor);
background: #F5F4FA;
}
.filter-button-link:hover,
.filter-button-link:focus{
  color: var(--background-nav-color);
  background: #2196F3;
}

.filter-examples {
}
.filter-name {
}
