:root {
  --brandcolor: #212121;
}

body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}

.logo {
  color: var(--brandcolor);
}

.bar-link .link {
  color: var(--brandcolor);
}

.bar-link .link:hover,
.bar-link .link:focus {
  color: #2196f3;
}

.title-heroy {
  color: var(--brandcolor);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.features-title {
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.logo.bar.bar-link {
  color: aquamarine;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
